---
import Download from "@icons/Download.astro";
import Person from "@icons/Person.astro";
---

<section id="about" class="max-w-7xl m-auto mt-25">
  <div class="flex items-end mt-7 gap-4">
    <Person class="size-8" />
    <h2 class="text-3xl font-bold">
      Sobre <span class="bg-linear-to-r from-blue-600 to-cyan-500 text-transparent bg-clip-text">mí</span>
    </h2>
  </div>
  <div class="flex justify-star items-center gap-10 mt-10">
    <div class="max-w-xl pt-3 flex flex-col gap-y-5 text-pretty text-white/80">
      <p>Mi nombre es Dionisio Rodríguez. Comencé en el mundo de la programación a los 17 años. Actualmente, me encuentro desarrollando sitios web para clientes y mejorando constantemente mis habilidades técnicas y creativas.</p>
      <p>Uno de mis principales logros ha sido el desarrollo de mi propia página web para impulsar mi emprendimiento, enfocado en la comercialización de productos para el lavado automotriz. Aunque hoy pueda parecer una tarea sencilla para alguien con experiencia, en su momento representó un desafío significativo que me permitió adquirir nuevas habilidades.</p>
    </div>
    <img class="rounded-4xl w-52" src="/imagenes/dionisio.jpg" alt="Imagen de Dionisio Rodriguez">
  </div>
  <div class="mt-8 flex justify-center">
    <button class="font-bold text-lg cursor-pointer px-5 py-1.5 rounded-full bg-linear-to-r from-blue-600 to-cyan-500 flex items-center gap-4
    inset-ring-2 hover:scale-105 transition duration 1s ease-in-out shadow-lg">
      <Download />
      Descargar mi CV
    </button>
  </div>
</section>