<footer class="flex justify-between pt-20 pb-10 text-white/60">
  <p class="text-sm">© 2025 Dionisio Rodriguez. Todos los derechos reservados</p>
  <div class="flex gap-6 mr-14 text-sm">
    <a href="#inicio">Inicio</a>
    <a href="mailto:dionisio.joaquin.rodriguez@gamil.com">Contacto</a>
  </div>
</footer>