<header class="top-0 w-full mx-auto flex justify-center max-w-7xl">
  <nav class="flex fixed justify-center items-center m-auto gap-8 mt-4 bg-gray-800 border border-white/10 py-1.5 px-4 rounded-full">
    <a class="listItem" href="#inicio">Inicio</a>
    <a class="listItem" href="#proyectos">Proyectos</a>
    <a class="listItem" href="#certificados">Certificados</a>
    <a class="listItem" href="#sobre-mi">Sobre mí</a>
    <a class="listItem" href="#contacto">Contacto</a>
  </nav>
</header>

<style>
  .listItem {
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.5s ease-out;
  }
  .listItem:hover {
    background: linear-gradient(to right, #457ffc 0%, oklch(71.5% 0.143 215.221) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>