---
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";
import Mail from "@icons/Mail.astro"
import LinkedIn from "@icons/LinkedIn.astro"
---

<section id="inicio" class="pt-30">
  <div>
    <div class="flex gap-5 items-center">
      <img class="rounded-full size-17" src="../../imagenes/dionisio.jpg" alt="">
      <Badge>Disponible para trabajar</Badge>
    </div>
    <h1 class="text-5xl font-bold my-5"><span class="bg-linear-to-r from-blue-600 to-cyan-500 text-transparent bg-clip-text">Hey</span>, soy Dionisio</h1>
    <p class="text-xl text-balance max-w-xl">+1 año de experiencia como Freelance. Desarrollador Web Frontend. De Rosario, Argentina.</p>
    <nav class="mt-5 flex gap-2.5">
      <SocialPill href="mailto:dionisio.joaquin.rodriguez@gamil.com">
        <Mail class="size-4" />
        Contactame
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/dionisio-rodriguez-46388632a/">
        <LinkedIn class="size-4" />
        LinkedIn
      </SocialPill>
    </nav>
  </div>
</section>